@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');


body{
    background-image: url("../images/backgroundBody.jpg");
}

.padding-body{
    padding-top: 130px;
    padding-bottom: 130px;
}

p {
    font-family: 'Henny Penny', cursive;
}

h1 {
    font-family: 'Nosifer', cursive;
    margin-bottom: 80px;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #7E3924;
}

@media screen and (max-width: 370px) {
    h1{
        font-size: 1.9em;
    }
}

p {
    font-size: 1.3em;
    color: #171615
}

