.tab-content{
    background-color: rgba(194, 194, 194, 0.22);
    padding: 30px;
    margin: 25px;
}


.edit{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/raton.jpg");
    padding-bottom: 150px;
}

@media (min-width: 1200px) {
    body{
        background-size: cover;
    }
}


.edition{
    .nav-tabs{
        .nav-link{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    .form-control{
        padding: 0.375rem 0.75rem;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        background-color: #fff0;
        background-clip: padding-box;
        border:0;
        border-bottom: 1px solid;
        border-radius: 0;
    }

    .form-control:focus{
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        background-color: #fff0;
        background-clip: padding-box;
        border:0;
        color: #ffffff;
        border-bottom: 1px solid;
        border-radius: 0;
        option{
            color: black;
        }
    }

    .form-group{
        textarea{
            border: 1px solid white;
        }
        textarea:focus{
            border: 1px solid white;
        }
    }

}
.custom-file-label::after{
    content: "Parcourir";
}

.label-title{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 1.2rem;
}