nav{
background-image: url('../images/flame.png');
}

.logo{
  max-height: 50px;
  max-width: 70px;
}

nav a {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.navbar-brand{
   margin-top: 25px;
  font-size: 2em;
 }