.card-text-tour {
  font-size: 3em;
  text-align: center;
}

.card-title-tour {
  font-size: 2em;
  text-align: center;
}

.card-subtitle-tour {
  font-size: 2em;
  text-align: center;
}

.table .thead-dark th {
  background-color: #a94c23;
  border: 3px double #C52B3C;
  color: #b5a4a4;
}

.table-bordered td {
  background-color: #CF7A55;
  border: 3px double #C52B3C;
}