{% extends 'base.html.twig' %}
{% block body %}

    <h1>Just contact us</h1>

    <p class="block-text-contact">A question, a suggestion,
        ask your question here, we will answer you as soon as possible.</p>
    {{ include ('contact/_form.html.twig') }}

{% endblock %}