{% extends 'base.html.twig' %}

{% block title %}Tour index{% endblock %}

{% block body %}
    <h1>We pass near you?</h1>

    <div class="row">
        {% for tour in tours %}
            <div class="col-12 col-md-6 mb-5">
                <div class="card card-tour" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title card-title-tour ">{{ tour.date ? tour.date|date('Y-m-d') : '' }}</h5>
                        <h6 class="card-subtitle card-subtitle-tour mb-2 text-muted">{{ tour.city }}</h6>
                        <p class="card-text card-text-tour">{{ tour.adress }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
